{{- if .Values.global.externalSecrets.enabled }}
{{- range $secretName, $secretInfo := .Values.global.externalSecrets.secrets }}
{{- $enabled := true }}
{{- if hasKey $secretInfo "enabled" }}
{{- $enabled = eq (tpl (toString $secretInfo.enabled) $) "true" }}
{{- end }}
{{- if $enabled }}
---
{{- if $.Capabilities.APIVersions.Has "external-secrets.io/v1beta1" }}
apiVersion: external-secrets.io/v1beta1
{{- else }}
apiVersion: external-secrets.io/v1alpha1
{{- end }}
kind: ExternalSecret
metadata:
  name: {{ $secretName }}-es
  namespace: {{ $.Release.Namespace }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-11"
    "argocd.argoproj.io/sync-options": "SkipDryRunOnMissingResource=true"
spec:
  refreshInterval: {{ default "1m" $secretInfo.refreshInterval }}
  secretStoreRef:
    name: {{ tpl $secretInfo.secretStoreName $ }}
    kind: SecretStore
  target:
    name: {{ tpl $secretName $ }}
  data:
    {{- range $secretKey, $remoteRef := $secretInfo.data }}
    - secretKey: {{ tpl $secretKey $ }}
      remoteRef:
        key: {{ tpl $remoteRef $ }}
    {{- end }}
{{- end }}
{{- end }}
{{- end }}
