{{- if .Values.global.externalSecrets.enabled }}
{{- range $storeName, $storeInfo := .Values.global.externalSecrets.stores }}
---
{{- if $.Capabilities.APIVersions.Has "external-secrets.io/v1beta1" }}
apiVersion: external-secrets.io/v1beta1
{{- else }}
apiVersion: external-secrets.io/v1alpha1
{{- end }}
kind: SecretStore
metadata:
  name: {{ tpl $storeName $ }}
  namespace: {{ $.Release.Namespace }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-15"
    "argocd.argoproj.io/sync-options": "SkipDryRunOnMissingResource=true"
spec:
  provider:
    {{ if eq $storeInfo.provider "aws" }}
    aws:
      service: ParameterStore
      region: {{ $storeInfo.region }}
      auth:
        jwt:
          serviceAccountRef:
            name: {{ tpl $storeInfo.serviceAccount $ }}
    {{ else if eq $storeInfo.provider "gcp" }}
    gcpsm:
      projectID: {{ $storeInfo.projectID }}
      auth:
        workloadIdentity:
          clusterLocation: {{ $storeInfo.region }}
          clusterName: {{ $storeInfo.clusterName }}
          serviceAccountRef:
            name: {{ $storeInfo.serviceAccount }}
    {{ else if eq $storeInfo.provider "azure" }}
    azurekv:
      vaultUrl: "{{ $storeInfo.vaultURL }}"
      authType: {{ $storeInfo.authType | default "ClientSecret" }}
      {{- if hasKey $storeInfo "tenantID" }}
      tenantId: {{ $storeInfo.tenantID }}
      {{- end }}
      {{- if eq $storeInfo.authType "WorkloadIdentity" }}
      serviceAccountRef:
        name: {{ $storeInfo.serviceAccount }}
      {{- else if eq $storeInfo.authType "ManagedIdentity" }}
      {{- if hasKey $storeInfo "clientID" }}
      identityId: {{ $storeInfo.clientID }}
      {{- end }}
      {{- else if eq $storeInfo.authType "ClientSecret" }}
      authSecretRef:
        clientId:
          name: azure-secret-sp
          key: ClientID
        clientSecret:
          name: azure-secret-sp
          key: ClientSecret
      {{- end }}
      environmentType: {{ $storeInfo.environmentType | default "PublicCloud" }}
    {{- end }}
{{- end }}
{{- end }}
