{{- if .Values.datahubSystemUpdate.serviceAccount }}
{{- if .Values.datahubSystemUpdate.serviceAccount.create }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Values.datahubSystemUpdate.serviceAccount.name }}
  namespace: {{ .Release.Namespace }}
  annotations:
    # This is what defines this resource as a hook. Without this line, the
    # job is considered part of the release.
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-11"
    "helm.sh/hook-delete-policy": before-hook-creation
{{- end }}

{{- if .Values.datahubSystemUpdate.serviceAccount.rbac }}

---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: datahub-operator-role
  namespace: {{ .Release.Namespace }}
  annotations:
    # This is what defines this resource as a hook. Without this line, the
    # job is considered part of the release.
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-11"
    "helm.sh/hook-delete-policy": before-hook-creation
rules:
# Allow datahub-operator service account to modify deployments
- apiGroups: ["extensions", "apps", "batch"]
  resources: ["deployments", "deployments/scale", "deployments/status", "jobs"]
  verbs: ["get", "list", "update", "patch", "watch"]
- apiGroups: ["batch"]
  resources: ["jobs"]
  verbs: ["delete"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: datahub-operator-role-binding
  namespace: {{ .Release.Namespace }}
  annotations:
    # This is what defines this resource as a hook. Without this line, the
    # job is considered part of the release.
    # This resource depends on the Role and ServiceAccount in this file having been created first, hence the smaller hook-weight.
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-10"
    "helm.sh/hook-delete-policy": before-hook-creation
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: datahub-operator-role
subjects:
- kind: ServiceAccount
  name: {{ .Values.datahubSystemUpdate.serviceAccount.name }}
  namespace: {{ .Release.Namespace }}
{{- end }}
{{- end }}

{{- if and .Values.datahubSystemUpdate.nonblocking.enabled .Values.datahubSystemUpdate.nonblocking.serviceAccount }}
{{- if .Values.datahubSystemUpdate.nonblocking.serviceAccount.create }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Values.datahubSystemUpdate.nonblocking.serviceAccount.name }}
  namespace: {{ .Release.Namespace }}
  annotations:
    # This is what defines this resource as a hook. Without this line, the
    # job is considered part of the release.
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-11"
    "helm.sh/hook-delete-policy": before-hook-creation
{{- end }}
{{- end }}

{{- if and .Values.datahubSystemUpdate.nonblocking.enabled .Values.datahubSystemUpdate.nonblocking.serviceAccount }}
{{- if .Values.datahubSystemUpdate.nonblocking.serviceAccount.rbac }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: datahub-operator-nonblocking-role
  namespace: {{ .Release.Namespace }}
  annotations:
    # This is what defines this resource as a hook. Without this line, the
    # job is considered part of the release.
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-11"
    "helm.sh/hook-delete-policy": before-hook-creation
rules:
# Allow datahub-operator nonblocking service account to modify deployments
- apiGroups: ["extensions", "apps", "batch"]
  resources: ["deployments", "deployments/scale", "deployments/status", "jobs"]
  verbs: ["get", "list", "update", "patch", "watch"]
- apiGroups: ["batch"]
  resources: ["jobs"]
  verbs: ["delete"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: datahub-operator-nonblocking-role-binding
  namespace: {{ .Release.Namespace }}
  annotations:
    # This is what defines this resource as a hook. Without this line, the
    # job is considered part of the release.
    # This resource depends on the Role and ServiceAccount in this file having been created first, hence the smaller hook-weight.
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-10"
    "helm.sh/hook-delete-policy": before-hook-creation
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: datahub-operator-nonblocking-role
subjects:
- kind: ServiceAccount
  name: {{ .Values.datahubSystemUpdate.nonblocking.serviceAccount.name }}
  namespace: {{ .Release.Namespace }}
{{- end }}
{{- end }}

